<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Категории</title>
    <meta charset="UTF-8">
</head>
<body>

<h1>Список категорий</h1>
<ul>
    <li th:each="cat : ${categories}">
        <span th:text="${cat.name}"></span>
        <span th:if="${cat.parentName != null}"
              th:text="' (родитель: ' + ${cat.parentName} + ')'">
        </span>
        &nbsp;
        <a th:href="@{/categories/{id}/attributes(id=${cat.id})}">Управление атрибутами</a>
    </li>
</ul>

<hr>

<h2>Добавить новую категорию</h2>
<form method="post" th:action="@{/categories}" th:object="${newCategory}">
    Название: <input type="text" th:field="*{name}" required><br><br>

    Родительская категория:
    <select th:field="*{parentId}">
        <option value="">-- Без родителя --</option>
        <option th:each="cat : ${categories}"
                th:value="${cat.id}"
                th:text="${cat.name}">
        </option>
    </select><br><br>

    <button type="submit">Создать</button>
</form>

</body>
</html>